<div class="row">
  <h1> Hard & Soft Skills </h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="60" 
      [radius]="90"
      [imageSrc]="'../../../assets/JS.png'"
      [imageHeight]="100"
      [imageWidth]="110"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> JavaScript </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="75" 
      [radius]="90"
      [imageSrc]="'../../../assets/HTML5.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> HTML </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="65" 
      [radius]="90"
      [imageSrc]="'../../../assets/CSS.png'"
      [imageHeight]="110"
      [imageWidth]="190"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> CSS </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="80" 
      [radius]="90"
      [imageSrc]="'../../../assets/C.png'"
      [imageHeight]="110"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> C# </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="75" 
      [radius]="90"
      [imageSrc]="'../../../assets/TS.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> TypeScript </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="65" 
      [radius]="90"
      [imageSrc]="'../../../assets/english.png'"
      [imageHeight]="120"
      [imageWidth]="120"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> Inglés </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="90" 
      [radius]="90"
      [imageSrc]="'../../../assets/teamwork.png'"
      [imageHeight]="110"
      [imageWidth]="110"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> Trabajo en equipo </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="95" 
      [radius]="90"
      [imageSrc]="'../../../assets/habilities.png'"
      [imageHeight]="150"
      [imageWidth]="150"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> Habilidades digitales </h4>
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4"> 
    <circle-progress
      [percent]="100" 
      [radius]="90"
      [imageSrc]="'../../../assets/commitment.png'"
      [imageHeight]="130"
      [imageWidth]="130"
      [showImage]="true"
      [showUnits]="false"
      [showSubtitle]="false"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="1"
      [outerStrokeColor]="'#35364D'"
      [innerStrokeColor]="'#40354D'"
      [animation]="true"
      [animationDuration]="600"
    ></circle-progress>
    <h4> Compromiso </h4>
  </div>
  
</div>
