<div class="row">
  <h1> Proyectos realizados </h1>
  <div class="container"> 
    <div class="col-sm-12 col-md-7 col-lg-7 ptext">
      <h3> Steel Soldier </h3>
      <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum voluptatum maiores quibusdam pariatur fuga ab ipsa sit, eaque perspiciatis consequatur repudiandae facere! A at minima nostrum cupiditate blanditiis, natus repellendus.</p>
    </div>
    <div class="text-center col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 pimage">
      <img src="../../../assets/commitment.png" class="img-fluid img-proj">
    </div>
  </div>
</div>
