<div class="row">
  <div class="container">
    <!-- logo ap -->
    <div class="logo">
      <img src="../../../assets/APLogo.png" id="logoAP" />
    </div>
    <!-- social media -->
    <div class="social">
      <a href="https://www.linkedin.com/in/loana-romero-95964a197/"
        ><img src="../../../assets/LinkedIn.png" id="LinkedIn"
      /></a>
      <a href="https://github.com/loanaromero"
        ><img src="../../../assets/GitHub.png" id="GitHub"
      /></a>
      <a href="https://www.facebook.com/low.romero"
        ><img src="../../../assets/Facebook.png" id="Facebook"
      /></a>
      <button type="button" class="btn btn-light" >LOG IN</button>
    </div>
  </div>
</div>
