<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-11">
    <ul>
      <li>
        <h2>Trabajo 1</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae optio
        nemo, eaque voluptatem ipsum saepe sit! Et sapiente veniam consequuntur
        est excepturi, qui quis impedit sint quos similique veritatis incidunt.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsa
        commodi nemo voluptate voluptatum ad? Sit voluptatum qui id quam officia
        ex, aliquam illum doloribus suscipit, nesciunt distinctio exercitationem
        esse!
      </p>
    </ul>
    <ul>
      <li>
        <h2>Trabajo 2</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae optio
        nemo, eaque voluptatem ipsum saepe sit! Et sapiente veniam consequuntur
        est excepturi, qui quis impedit sint quos similique veritatis incidunt.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsa
        commodi nemo voluptate voluptatum ad? Sit voluptatum qui id quam officia
        ex, aliquam illum doloribus suscipit, nesciunt distinctio exercitationem
        esse!
      </p>
    </ul>
    <ul>
      <li>
        <h2>Trabajo 3</h2> - <h3>años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae optio
        nemo, eaque voluptatem ipsum saepe sit! Et sapiente veniam consequuntur
        est excepturi, qui quis impedit sint quos similique veritatis incidunt.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit ipsa
        commodi nemo voluptate voluptatum ad? Sit voluptatum qui id quam officia
        ex, aliquam illum doloribus suscipit, nesciunt distinctio exercitationem
        esse!
      </p>
    </ul>
  </div>
</div>
